[Unit]
Description=Drive (rclone)
AssertPathIsDirectory=/n/drive

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount \
  drive: /n/drive
ExecStop=/bin/fusermount -u /n/drive
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
