[Uni]
Description=rclone (%I)
AssertPathIsDirectory=/n/%I

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount \
  %I: /n/%I
ExecStop=/bin/fusermount -u /n/%I
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
